@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font: 1em 'Lato', sans-serif;
	color: #333;
	background-color: #fff;
	max-width: 60%;
	margin: 0 auto;
	padding: 10px;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
}

p {
	margin: 15px 0;
}

ul {
	margin: 15px 0;
}

li {
	margin-left: 25px;
	line-height: 22px;
}

code {
	font-family: monospace;
	background-color: #eee;
}

strong {
	font-weight: bold;
}

textarea {
	font: 0.9em 'Lato', sans-serif;
	width: 100%;
	padding: 5px;
	border: 1px solid #ababab;
	border-radius: 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a:link, a:visited {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #777;
}

input {
	color: #333;
	margin: 20px 5px 0 0;
	height: 50px;
	width: 100px;
	border: 1px solid #fff;
	background-color: #ddd;
	border-radius: 2px;
	font: inherit;
}

input:hover {
	background-color: #f8f8f8;
	border: 1px solid #ababab;
}

@media (max-width: 480px) {
	body {
		font-size: 1.2em;
		max-width: 90%;
	}
}
