body {
	font-family: 'Open Sans', sans-serif;
	max-width: 1000px;
	margin: 0 auto 0 auto;
}

h1 {
	margin-bottom: 0;
}

p {
	margin-top: 8px;
}

textarea {
	width: 1000px;
	border: 1px solid black;
}

a:link {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

a:visited {
	color: #000;
}

input {
	margin: 20px 0 20px 0;
	height: 40px;
}

#footer {
	font-size: 0.9em;
	color: #767676;
	text-align: center;
}

#footer a {
	color: #767676;
}
