html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #fff;
  color: #333;
  font: 1em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 auto;
  max-width: 62.5rem;
  padding: 10px;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

p, ul {
  margin: 15px 0;
}

li {
  line-height: 22px;
  margin-left: 25px;
}

code {
  background-color: #eee;
  font-family: monospace;
}

strong {
  font-weight: bold;
}

textarea {
  border: 1px solid #ababab;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

a:link,
a:visited {
  color: #333;
  text-decoration: none;
}

input {
  background-color: #ddd;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #333;
  cursor: pointer;
  font: inherit;
  height: 50px;
  margin: 20px 5px 0 0;
  width: 100px;
}

@media (max-width: 480px) {
  body {
    font-size: 1.2em;
    max-width: 90%;
  }
}
